<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newstaskapp">
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
<!--    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--    <uses-permission android:name="android.permission.READ_SMS" />-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission
        android:name="com.seamLabs.newstaskapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.seamLabs.newstaskapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:usesCleartextTraffic="true"
        android:protectionLevel="signature"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsTaskApp">
        <activity
            android:name=".view.main.views.activities.HomeCycleActivity"
            android:exported="true"
            android:label="@string/title_activity_home_cycle"
            android:theme="@style/Theme.NewsTaskApp.NoActionBar"
            >

        </activity>
        <activity
            android:name=".view.main.views.activities.HomeCycleActivityKotlin"
            android:exported="true"
            android:label="@string/title_activity_home_cycle"
            android:theme="@style/Theme.NewsTaskApp.NoActionBar"
            >

        </activity>
        <activity
            android:name=".view.main.views.activities.SplashCycleActivity"
            android:exported="true"
            android:theme="@style/Theme.NewsTaskApp"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>